<header>
  <span class="logo-mark">Ruby-Rails-RSpec-Prac</span>
    <%=
    if current_administrator
      link_to 'ログアウト', :admin_session, method: :delete
    else
      link_to 'ログイン', :admin_login, method: :get
    end
  %>
</header>
